:root {
  --normal-color: #a4acaf;
  --psychic-color: #f366b9;
  --steel-color: #9eb7b8;
  --dark-color: #707070;
  --electric-color: #eed535;
  --fighting-color: #d56723;
  --flying-color-1: #3dc7ef;
  --flying-color-2: #bdb9b8;
  --grass-color: #9bcc50;
  --ice-color: #51c4e7;
  --poison-color: #b97fc9;
  --rock-color: #a38c21;
  --water-color: #4592c4;
  --ground-color-1: #f7de3f;
  --ground-color-2: #ab9842;
  --ghost-color: #7b62a3;
  --fire-color: #fd7d24;
  --fairy-color: #fdb9e9;
  --dragon-color-1: #53a4cf;
  --dragon-color-2: #f16e57;
  --bug-color: #729f3f;
}

.Normal {
  background-color: var(--normal-color);
}
.Psychic {
  background-color: var(--psychic-color);
}
.Steel {
  background-color: var(--steel-color);
}
.Dark {
  background-color: var(--dark-color);
}
.Electric {
  background-color: var(--electric-color);
}
.Fighting {
  background-color: var(--fighting-color);
}
.Ghost {
  background-color: var(--ghost-color);
}
.Fire {
  background-color: var(--fire-color);
}
.Fairy {
  background-color: var(--fairy-color);
}
.Bug {
  background-color: var(--bug-color);
}
.Grass {
  background-color: var(--grass-color);
}
.Ice {
  background-color: var(--ice-color);
}
.Poison {
  background-color: var(--poison-color);
}
.Rock {
  background-color: var(--rock-color);
}
.Water {
  background-color: var(--water-color);
}

.Flying {
  background-color: var(--flying-color-1);
}
.Ground {
  background-color: var(--ground-color-1);
}
.Dragon {
  background-color: var(--dragon-color-1);
}

.types {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.types div {
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-width: 5rem;
  color: white;
}
